# PyTorch/YOLO Model files
*.pt
*.pth
*.onnx
*.engine

# Ultralytics/YOLO output directory
runs/

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log

# Virtual environment folders (choose yours if applicable)
# venv/
# env/
# .env/
# .venv/

# macOS specific
.DS_Store

# Datasets (Uncomment if your dataset is large and shouldn't be in Git)
# 检测 玻璃瓶/
# mini/ 

字体.py
yolo11n.pt
yolov8n.pt
yolov8x.pt

The.Knockout.S01E